body{
  background-color: black;
}
h1{
  ext-align: center;
  text-color: yellow;
}
#ammunition{
  text-align: left;
  text-color: yellow;
}
#accompaniments{
  text-align: center;
  text-color: yellow;
}
#balance boost{
  text-align: right;
  text-color: yellow;
}
